$body-backgroungColor: #faf7f6;
body {
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;
	background: $body-backgroungColor;
}

.results {
	  margin: auto;
    max-width: 80%;
}

$book-shadow: #dfc8c0;
$book-border: #f3edeb;
.book {
		position: relative;
  	display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		padding: 0 15px 0 140px;
		height: 165px;
    border: 2px solid $book-border;
    border-radius: .25rem;
		list-style: none;
		background-color: white;
    box-shadow: 0 1rem 1rem -0.75rem $book-shadow;

    &:hover {
    transition: .4s;
    transform: scale(1.01);
    }
}

.book__img {
		position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.book__img-size {
	max-height: 165px;
}

$book-titleColor: #65002a;
.book__title {
	  font-size: 1.3rem;
    font-weight: bold;
    color: $book-titleColor;
}

$button-background: #663399;
$button-fontColor: #fff;
$button-shadow: #800080;
.search__button {
    position: relative;
		display: inline-flex;
		align-self: flex-end;
    padding: 0 .75rem;
    font-size: .6rem;
    border: none;
    border-radius: .25rem;
    line-height: 2.8;
    text-transform: uppercase;
		background: $button-background;
    color:$button-fontColor;
    box-shadow: 0 0.4rem 1rem -0.4rem $button-shadow;
    cursor: pointer;
}

$input-shadow: #d4b1a5;
$input-border: #f3edeb;
.search__input {
		align-self: flex-start;
		padding: .2rem .5rem;
    margin-top: .25rem .25rem 0 0;
    border-radius: .25rem;
    border: 2px solid $input-border;
    box-shadow: 0 0.4rem 1rem -0.4rem $input-shadow;

}

.form__search {
	  display: flex;
    margin: 20px auto;
    max-width: 80%;
}

.search__label {
	display: inline-flex;
	flex-direction: column;
	font-size: .9rem;
  font-weight: bold;
}

$downloadBtn-background: #663399;
$downloadBtn-fontColor: #fff;
.book__download {
		padding: .1rem .75rem;
    border-radius: .25rem;
    font-size: .6rem;
    text-transform: uppercase;
    text-decoration: none;
    background: $downloadBtn-background;
    color: $downloadBtn-fontColor;
}

@media only screen and (max-width: 570px) {
	.results {
		max-width: 90%;
	} 
	.form__search {

	}	
}

