body {
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;
	background:  #faf7f6;
}

.results {
	  margin: auto;
    max-width: 80%;
}

.book {
		position: relative;
  	display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		padding: 0 0 0 158px;
		height: 200px;
    border: 2px solid #f3edeb;
    border-radius: .25rem;
		list-style: none;
		background-color: white;
    box-shadow: 0 1rem 1rem -0.75rem #dfc8c0;
}

.book__img {
		position: absolute;
    top: 0;
    left: 0;
}

.book__title {
	  font-size: 1.5rem;
    font-weight: bold;
    color: #65002a;
}

.search__button {
		display: inline-flex;
		align-self: flex-end;
		background: rebeccapurple;
    position: relative;
    color: white;
    border: none;
    padding: 0 .75rem;
    border-radius: .25rem;
    font-size: .6rem;
    line-height: 2.8;
    text-transform: uppercase;
    box-shadow: 0 0.4rem 1rem -0.4rem purple;
}

.search__input {
		align-self: flex-start;
		padding: .2rem .5rem;
    border-radius: .25rem;
    border: 2px solid #f3edeb;
    margin-top: .25rem;
    margin-right: .25rem;
    box-shadow: 0 0.4rem 1rem -0.4rem #d4b1a5;

}

.form__search {
	  display: flex;
    max-width: 80%;
    margin: auto;
}

.search__label {
	display: inline-flex;
	flex-direction: column;
	font-size: .9rem;
  font-weight: bold;
}

.form__search {
	display: flex;
	max-width: 80%;
	margin: auto;
}

.book__download {
		padding: .1rem .75rem;
    border-radius: .25rem;
    font-size: .6rem;
    text-transform: uppercase;
    box-shadow: 0 0.4rem 1rem -0.4rem purple;
    text-decoration: none;
    background: #663399;
    color: white;
}

